<h1><f:translate key="LLL:EXT:hive_poi/Resources/Private/Language/locallang_db.xlf:tt_content.CType.hivepoi_hive_poi" /></h1>

<f:if condition="{processedRow.tx_hivepoi_poigraphic}">
    <strong><f:translate key="LLL:EXT:hive_poi/Resources/Private/Language/locallang_db.xlf:tt_content.tx_hivepoi_poigraphic" />: </strong>
    <f:for each="{processedRow.tx_hivepoi_poigraphic}" as="item">
        <f:for each="{item.uid_local}" as="file">
            {file.title} (fileID={file.uid})
        </f:for>
    </f:for>
    <br>
</f:if>

<f:comment>
    <f:if condition="{processedRow.tx_hivepoi_poicustomcssclasses}">
        <strong><f:translate key="LLL:EXT:hive_poi/Resources/Private/Language/locallang_db.xlf:tt_content.tx_hivepoi_poicustomcssclasses" /></strong>
        {processedRow.tx_hivepoi_poicustomcssclasses} (raw={row.tx_hivepoi_poicustomcssclasses})<br>
    </f:if>
</f:comment>

<f:if condition="{processedRow.tx_hivepoi_poielement}">
    <strong><f:translate key="LLL:EXT:hive_poi/Resources/Private/Language/locallang_db.xlf:tt_content.tx_hivepoi_poielement" />:</strong>
    <br>
    <ul>
        <f:for each="{processedRow.tx_hivepoi_poielement}" as="item">
            <li>
                {item.tx_hivepoi_poielementlabel} (id={item.uid} | svgid={item.tx_hivepoi_poielementsvgid} {f:if(condition: '{item.tx_hivepoi_poielementshowonfirst}', then: '| show on first', else: '')})
            </li>
        </f:for>
    </ul>
</f:if>
