// [Begin] NEVER REMOVE OR CLOWNS WILL EAT YOU
//@import "hive_thm_custom/Resources/Private/Assets/Scss/Import/index";
// [End] NEVER REMOVE OR CLOWNS WILL EAT YOU

$hive_poi_demo_color_default: #009982;
$hive_poi_demo_color_hover: #95c11f;
$hive_poi_demo_color_active: #dedc00;


.tx-hive-poi {

  overflow: hidden;

  /***********
  SVG Graphic
  ************/
  .poigraphic-container svg {
    width: 100%;
    height: auto;
  }

  .poigraphic-container svg path {
    opacity: 1.00;
  }

  .poigraphic-container svg .poi {
    fill: $hive_poi_demo_color_default;
    stroke: black;
    opacity: 0.40;
    pointer-events: none;
  }

  .poigraphic-container svg .poi.inUse {
    cursor: pointer;
    pointer-events: auto;
    opacity: 0.75;
  }

  .poigraphic-container svg .poi:hover {
    fill: $hive_poi_demo_color_hover;
    opacity: 0.85;
  }

  .poigraphic-container svg .poi.active {
    fill: $hive_poi_demo_color_active;
    opacity: 1.0;
  }

  /***********
  Select
  ************/
  .poi--select {
    width: 100%;
  }

  /***********
  POI Element
  ************/
  .poi--element {
    display: none;
  }

  /***********
  POI Label
  ************/
  a.poi--label {
    cursor: pointer;
  }

}