<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:hive="http://typo3.org/ns/HIVE/HiveOvrFluidstyledcontent/ViewHelpers" data-namespace-typo3-fluid="true">
    <div id="c-{data.uid}" class="tx-hive-poi
            {f:if(condition: data.layout, then: 'frame-layout-{data.layout}')}
            {f:if(condition: data.frame_class, then: 'frame-{data.frame_class}')}
            {f:if(condition: data.space_before_class, then: 'frame-space-before-{data.space_before_class}')}
            {f:if(condition: data.space_after_class, then: 'frame-space-after-{data.space_after_class}')} ">

        <div class="hive_poi-wrapper {data.tx_hivepoi_poicustomcssclasses}">

            <div class="container">
                <div class="row">
                    <f:if condition="{data_tx_hivepoi_poigraphic}">
                        <div id="poi-{data.uid}-graphic" class="poigraphic-container col-12 col-sm-12 col-md-12 col-lg-12 col-xl-9 col-xxl-10">
                            <f:for each="{data_tx_hivepoi_poigraphic}" as="file">

                                <f:format.raw>
                                    <hive:inlineSvg filePath="{file.originalFile.publicUrl}" removeStyleAttributes="{data.tx_hivepoi_poiremovesvgstyleattributes}" />
                                </f:format.raw>

                            </f:for>
                        </div>
                    </f:if>

                    <f:if condition="{data_tx_hivepoi_poielement}">
                        <a id="poi-{data.uid}-results" name="poi-{data.uid}-results" class="poi-results-anchortarget"></a>
                        <div class="poielement-container col-12 col-sm-12 col-md-12 col-lg-12 col-xl-3 col-xxl-2">

                            <div class="poi--select--container">
                                <select id="poi-{data.uid}-select" class="poi--select" name="poi-select" data-enpassusermodified="yes">
                                    <option>{f:translate(key: 'LLL:EXT:hive_poi/Resources/Private/Language/locallang_db.xlf:tt_content.tx_hivepoi_poielement.pleaseselect')}</option>
                                    <f:for each="{data_tx_hivepoi_poielement}" as="poi">
                                        <option value="{poi.data.tx_hivepoi_poielementsvgid}" data-showonfirst="{poi.data.tx_hivepoi_poielementshowonfirst}" data-parent="{data.uid}">{poi.data.tx_hivepoi_poielementlabel}</option>
                                    </f:for>
                                </select>
                            </div>

                            <div class="poi--element--container">
                                <f:for each="{data_tx_hivepoi_poielement}" as="data_item" iteration="i">

                                    <div id="poi-{data.uid}-element-{i.cycle}" class="poi--element {data_item.data.tx_hivepoi_poielcustomcssclasses} {f:if(condition:'{data_item.data.tx_hivepoi_poielementshowonfirst}',then:'active')}" data-parent="{data.uid}" data-poielement-svgid="{data_item.data.tx_hivepoi_poielementsvgid}" data-poielement-label=" {data_item.data.tx_hivepoi_poielementlabel}" data-poielement-link="{data_item.data.tx_hivepoi_poielementlink}" data-poielement-link-uri="{f:uri.typolink(parameter: data_item.data.tx_hivepoi_poielementlink)}" data-poielement-showonfirst="{data_item.data.tx_hivepoi_poielementshowonfirst}">

                                        <f:if condition="{data_item.data_tx_hivepoi_poielementcontent}">
                                            <div class="poielement--content">
                                                <f:for each="{data_item.data_tx_hivepoi_poielementcontent}" as="content_item">
                                                    <f:cObject typoscriptObjectPath="tt_content" data="{content_item.data}" table="tt_content" />
                                                </f:for>
                                            </div>
                                        </f:if>

                                    </div>

                                </f:for>
                            </div>

                            <div class="poi--label--container">
                                <f:for each="{data_tx_hivepoi_poielement}" as="data_item" iteration="i">

                                    <a id="poi-{data.uid}-label-{i.cycle}" class="poi--label {f:if(condition:'{data_item.data.tx_hivepoi_poielementshowonfirst}',then:'active')}" data-parent="{data.uid}" data-poielement-svgid="{data_item.data.tx_hivepoi_poielementsvgid}" data-poielement-label=" {data_item.data.tx_hivepoi_poielementlabel}" data-poielement-link="{data_item.data.tx_hivepoi_poielementlink}" data-poielement-link-uri="{f:uri.typolink(parameter: data_item.data.tx_hivepoi_poielementlink)}" data-poielement-showonfirst="{data_item.data.tx_hivepoi_poielementshowonfirst}">
                                        <f:if condition="{data_item.data.tx_hivepoi_poielementlabel}">
                                            {data_item.data.tx_hivepoi_poielementlabel}
                                        </f:if>
                                    </a>

                                </f:for>
                            </div>

                        </div>
                    </f:if>

                </div>
            </div>

        </div>

    </div>
</html>
